body {
  background: #404040;
  margin: auto;
  font-family: Arial, sans-serif;
  border-top: 7px solid #4b53bc;
}

/* Estilização do box do conteúdo */
div.BoxConteudo {
  background: #262626;
  width: 50vw;
  border-radius: 30px;
  box-shadow: 10px 10px 8px rgba(75, 83, 188, .7);
  margin: auto;
}

/* Estilização título */
div.BoxConteudo h2 {
  color: #4b53bc;
  text-align: center;
  padding: 2vh 0 0 0;
}

div.Container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 2px solid #404040;
}

div.Box {
  width: 120px;
  height: 120px;
  border: 2px solid #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
}

.box img {
  width: 75px;
}

.Status {
  margin: 20px 0;
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
}

.BtnRestart {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-family: Arial, sans-serif;
	font-size: 13pt;
	color: #ffffff;
	background: #4b53bc;
	border-radius: 5px;
	border: none;
	margin-right: 5px;
	cursor: pointer;
}