body {
  background: #404040;
	margin: 0%;
	font-family: Arial, sans-serif;
}

/* Estilização do box do conteúdo */
div.BoxFuncao {
  background-color: #262626;
  height: 45vh;
  width: 50vw;
	margin: auto;
}

/* Estilização Título */
div.BoxFuncao h2 {
	color: #4b53bc;
	text-align: center;
	font-family: Arial, sans-serif;
	padding-top: 3vh;
}

/* Contéudo */
div.SomarNumeros {
	padding	: 0 0 2vh 5vh;
	font-size: 13pt;
	color: #ffffff;
}

input.EntradaNumero1 {
	font-size: 13pt;
}

input#BtnSomar {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-family: Arial, sans-serif;
	font-size: 13pt;
	color: #ffffff;
	background: #4b53bc;
	border-radius: 5px;
	border: none;
}

/* Estilização Rodapé (SavioDeveloper) */
div.BtnSavioDeveloper {
	text-align: center;
}

div.BtnSavioDeveloperLink a {
	text-decoration: none;
}

button.BtnSavioDeveloperLink {
  --bg: #404040;
  --hover-bg: #4b53bc;

	font-size: 15pt;
	font-family: Arial, sans-serif;
	color: #fff;
	background: #262626;
	border: none;
	border-radius: 5px;
  padding: 5px 10px 5px 10px;
	margin: 0 10px 0 10px;
	transition: 0.2s;
}

button.BtnSavioDeveloperLink:hover {
	color: #ffffff;
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button.BtnSavioDeveloperLink:active {
  transform: translate(0);
  box-shadow: none;
}