body {
  background: #404040;
	margin: 0%;
	font-family: Arial, sans-serif;
	border-top: 7px solid #4b53bc;
}

/* Estilização do box do conteúdo */
div.BoxConteudo {
  background: #262626;
  height: 75vh;
  width: 50vw;
  border-radius: 30px;
  box-shadow: 10px 10px 8px rgba(75, 83, 188, .7);
  margin: auto;
}

/* Estilização título */
div.BoxConteudo h2 {
	color: #4b53bc;
	text-align: center;
	font-family: Arial, sans-serif;
	padding-top: 3vh;
}

/* Contéudo */
div.Funcao {
  padding: 0 0 2vh 2vw;
  color: #ffffff;
  font-size: 13pt;
}

div.Funcao input[type='number'] {
	font-size: 13pt;
	background-color: #404040;
	color: #fff;
	border: 2px solid #4b53bc;
	border-radius: 5px;
	padding: 5px;
	width: 150px;
}

div.Funcao input[type='button'] {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	font-family: Arial, sans-serif;
	font-size: 13pt;
	color: #ffffff;
	background: #4b53bc;
	border-radius: 5px;
	border: none;
	margin-right: 5px;
	cursor: pointer;
}

.ClassJS { 
  color: #4b53bc;
  font-weight: bolder;
}

/* Estilização Rodapé (SavioDeveloper) */
div.BtnSavioDeveloper { text-align: center; }

div.BtnSavioDeveloperLink a { text-decoration: none; }

button.BtnSavioDeveloperLink {
  --bg: #404040;
  --hover-bg: #4b53bc;

  font-size: 15pt;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #262626;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
  transition: 0.2s;
}

button.BtnSavioDeveloperLink:hover {
  color: #ffffff;
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button.BtnSavioDeveloperLink:active {
  transform: translate(0);
  box-shadow: none;
}